.mini-header {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #506a85;
    background: #f5f7fa;
}
.header-contact span:first-child {
    margin-right: 20px;
}
.header-contact {
    padding: 0px;
}
.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    display: block;
    width: 100%;
}
.social-icons li {
    display: inline-block;
    margin: 0 10px;
}
.social-icons li a {
    font-size: 14px;
    color: #506a85;
}
.main-header {
    height: 112px;
    border-bottom: 1px solid #506a85;
    padding: 35px 0;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: block; 
    text-align: left;
}
.menu li {
    display: inline-block;
    margin: 0 15px;
}
.menu li:first-child{
    margin-left: 0px;
}
.menu li:last-child{
    float: right;
}
.menu li a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #506a85;
    line-height: 40px;
}
.logo {
    padding-left: 0px;
}

